.win{
    left: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-item a{
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
}

.sidebar {
    padding: 20px;
    background-color: rgb(22, 74, 122);
    height: 100%;
    z-index: 1;
    overflow: auto;
    position: fixed!important;
  }

  .main {
      height: 80vh;
      overflow-y: auto;
  }

  