<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Vaccination <strong>Sites</strong></h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new" (click)="retrieveLocationForm()"><i class="fa fa-plus"></i> Add New Location</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th id="">Site Name:</th>
                    <th id="">Address:</th>
                    <th id="">City:</th>
                    <th id="">State:</th>
                    <th id="">Postal Code:</th>
                    <th id="">Contact Person:</th>
                    <th id="">Phone Number:</th>
                    <th id="">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor = "let location of listOfLocations">
                    <td>{{location.siteName}} </td>
                    <td>{{location.address}} </td>
                    <td>{{location.city}} </td>
                    <td>{{location.state}} </td>
                    <td>{{location.postalCode}} </td>
                    <td>{{location.contactPerson}} </td>
                    <td>{{location.contactPersonPhoneNumber}} </td>
                    <td>
                        <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteLocation(location.id)"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>



            </tbody>
        </table>


    </div>
</div>




