#modalLabel {
    text-transform: uppercase;
    font-size: 2rem;
}

#pre-existing-condition-choices {
    margin-left: 14px;
}

#max-distance {
    margin-left: 14px;
}

.hope-logo {
    display: block;
    margin: 10px auto;
}