<!-- Modal to add to waitlist. After patients signs in, they will see this button (Get Vaccinated), the button will open up this modal -->
<div id="add-to-waitlist-modal" class="modal-dialog">
  <div class="modal-content">
    <img class="mb-4 hope-logo" src="../../../assets/hope_logo.svg" alt="">
    <div class="modal-header" style="text-align: right">
      <h5 class="modal-title" id="modalLabel">Register for Vaccination!</h5>
    </div>
    <div class="modal-body">
      <!--Form to add to waitlist-->
      <form id="add-to-waitlist-form" [formGroup]="registrationForm" (ngSubmit)=addToVaccinationWaitlist()>
        <div class="row mb-3">
          <label for="input-first-name" class="col-sm-4 col-form-label"
            >First Name</label
          >
          <div class="col-sm-8">
            <input
              [class.is-invalid]="firstName?.invalid && firstName?.touched"
              type="text"
              class="form-control"
              id="input-first-name"
              formControlName="firstName"            
              required=""
              autofocus=""
            />
            <div *ngIf="(firstName?.invalid && firstName?.touched)">
              <small *ngIf="firstName?.errors?.required" class="text-danger">You must provide a first name</small>
              <small *ngIf="firstName?.errors?.pattern" class="text-danger">Please provide a valid name</small>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="input-last-name" class="col-sm-4 col-form-label"
            >Last Name</label
          >
          <div class="col-sm-8">
            <input
            [class.is-invalid]="lastName?.invalid && lastName?.touched"
              type="text"
              class="form-control"
              id="input-last-name"
              formControlName="lastName"
              required=""
              autofocus=""
            />
            <div *ngIf="(lastName?.invalid && lastName?.touched)">
              <small *ngIf="lastName?.errors?.required" class="text-danger">You must provide a last name</small>
              <small *ngIf="lastName?.errors?.pattern" class="text-danger">Please provide a valid name</small>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="input-email" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input
              [class.is-invalid]="patientEmail?.invalid && patientEmail?.touched"
              type="text"
              class="form-control"
              id="input-email"
              formControlName="patientEmail"
              required=""
              autofocus=""
            />
            <div *ngIf="(patientEmail?.invalid && patientEmail?.touched)">
              <small *ngIf="patientEmail?.errors?.required" class="text-danger">You must provide an email
                  address</small>
              <small *ngIf="patientEmail?.errors?.pattern" class="text-danger">Please provide a valid email
                  address</small>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="input-phone-number" class="col-sm-4 col-form-label">Phone Number</label>
          <div class="col-sm-8">
            <input
              [class.is-invalid]="phoneNumber?.invalid && phoneNumber?.touched"
              type="text"
              class="form-control"
              id="phone-number"
              formControlName="phoneNumber"
              required=""
              autofocus=""
            />
            <div *ngIf="(phoneNumber?.invalid && phoneNumber?.touched)">
              <small *ngIf="phoneNumber?.errors?.required" class="text-danger">You must provide a phone number</small>
              <small *ngIf="phoneNumber?.errors?.pattern" class="text-danger">Please provide a valid phone number</small>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="zipcode" class="col-sm-4 col-form-label">ZipCode</label>
          <div class="col-sm-8">
            <input
              [class.is-invalid]="zipcode?.invalid && zipcode?.touched"
              type="zipcode"
              class="form-control"
              id="zipcode"
              formControlName="zipcode"
              required=""
              autofocus=""
            />
            <div *ngIf="(zipcode?.invalid && zipcode?.touched)">
              <small *ngIf="zipcode?.errors?.required" class="text-danger">You must provide a zipcode</small>
              <small *ngIf="zipcode?.errors?.pattern" class="text-danger">Please provide a valid zipcode</small>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="date-of-birth" class="col-sm-4 col-form-label"
            >Date of Birth</label
          >
          <div class="col-sm-8">            
            <input
              [class.is-invalid]="dateOfBirth?.invalid && dateOfBirth?.touched"
              type="date"
              class="form-control"
              id="date-of-birth"
              formControlName="dateOfBirth"
              required=""
              autofocus=""
            />
            <div *ngIf="(dateOfBirth?.invalid && dateOfBirth?.touched)">
              <small *ngIf="dateOfBirth?.errors?.required" class="text-danger">You must provide a date of birth</small>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="pre-existing-condition-choices" class="col-sm-4 col-form-label"
            >Pre-existing Condition</label
          >
          <div id="pre-existing-condition-choices">
            <select formControlName="preExistingCondition" class="form-control" (change)="changeCondition($event)">        
                <option *ngFor="let choice of preExistingConditionChoices" [value]="choice">
                    {{ choice }}
                </option>
            </select>        
          </div>
        </div>
        <div class="row mb-3">
          <label for="max-distance" class="col-sm-4 col-form-label"
            >Willing to travel(miles)</label
          >
          <div id="max-distance">
            <select class="form-control" formControlName="maxDistance">
                <option *ngFor="let distance of maxDistancesList" [value]="distance">
                    {{ distance }}
                </option>
            </select>            
          </div>
        </div>
        <div class="modal-footer">
          <button           
            type="submit"
            id="add-to-waitlist-button"
            class="btn btn-primary"
            [disabled]="firstName?.invalid || lastName?.invalid || patientEmail?.invalid || phoneNumber?.invalid || zipcode?.invalid || dateOfBirth?.invalid"       
            [mat-dialog-close]="true"
          >
            Get Vaccinated
          </button> 
          <button id="modalCloseButton" type="button" class="btn btn-secondary" [mat-dialog-close]="true">Close</button>        
        </div>
      </form>
    </div>
  </div>
</div>